@import "./rwd";
@import "./utilities";

.header{
  background:#AA0601;
  .container{
    padding: 12px 36px;
  }
  .container .logo {
    width: 80px;
    height: 48px;
    background-image: url(../images/logo-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
  }
  .container .menu-list li{
    margin-left: 64px;
    line-height: 54px;
    color: white;
    @include pad {
     margin-left: 25px;
    }
    @include spad {
     display: none;
    }

  }
  .container .menu{
    width: 40px;
    height: 40px;
    background-image: url(../images/menu2x.png);
    background-size: contain;
    display: none;
    @include spad {
      display: inline-block;
      &:hover{
       border: 2px solid white;
      }
      
    }
  }
}
.footer{
  .footer-menu{
    margin-bottom: 36px;
  }
  .footer-menu li{
    margin-right: 24px;
  }
  .footer-menu a{
    font-size: 16px;
    color: white;
    text-decoration: none;
  }
  background: #AA0601;
  padding-top: 36px;
  img {
    width: 48px;
    height: 48px;
    margin-left: 32px;
  }
  h3{
    font-size: 36px;
    color: white;
  }
  h3 i {
    margin-right: 22px;
  }
  .mail{
    border-bottom: 1px solid #fff;
  }
  .copyright{
    font-size: 16px;
    color: white;
  }
}
