@import "./rwd";
@import "./utilities";

.header{
  background:#AA0601;
  a {
    width: 80px;
    height: 48px;
    background-image: url(../images/logo-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 101%;
    white-space: nowrap;
  }
}
