@import "./rwd";
@import "./utilities";

.header{
  background:#AA0601;
  padding-top: 12px;
  padding-bottom: 12px;
  .container .logo {
    width: 80px;
    height: 48px;
    background-image: url(../images/logo-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 16px;
  }
  .container .menu-list{
    background: #AA0601;
    flex-wrap: wrap;
    // 已經有container的左右padding
    // margin-right: 24px;

    @include spad {
      position: absolute;
      top: 78px;
      max-height: 0;
      overflow: hidden;
      transition: 0.3s;
      margin-right: 16px;
    } 
    li {
    margin-left: 64px;
    line-height: 54px;
    color: white;
    @include pad {
     margin-left: 25px;
    }
    @include spad {
      width: 40%;
    }

  }
  }
 
  .container .menu{
    width: 40px;
    height: 40px;
    background-image: url(../images/menu2x.png);
    background-size: contain;
    display: none;
    @include spad {
      display: inline-block;
      margin-right: 16px;
      &:hover{
       border: 2px solid white;
      }
      
    }
  }
}
.show-menu .menu-list {
  max-height: 110px !important;
}
.footer{
  background: #AA0601;
  padding-top: 48px;
  .footer-menu{
    @include spad{
      max-height: 0px;
      flex-direction: column;
    }
  }
  .footer-menu-list{
    margin-bottom: 36px;
    @include spad {
      display: none;
    }
  }
  .footer-social {
    @include spad{
    // position: relative;
    // top: 50px; //透過將父層高度關閉之後，高度自然就往下跑了
    align-self: flex-end;
    }

  }
  .footer-menu-list li{
    margin-right: 24px;
    @include pad {
      margin-right: 16px;
    }
    
  }
  .footer-menu-list a{
    font-size: 16px;
    // color: white;
    // text-decoration: none;
    
  }
  
  img {
    width: 48px;
    height: 48px;
    margin-left: 32px;
    @include pad{
      margin-left: 16px;
    }
    @include spad{
      margin-left: 8px;
    }
    &:hover{
      
      background: green;
    
    }
  
  }
  h3{
    font-size: 36px;
    color: white;
    @include spad {
      font-size: 16px;
    }
  }
  h3 i {
    margin-right: 22px;
    @include spad{
      margin-right: 10px;
    }
  }
  .mail{
    border-bottom: 1px solid #fff;
    @include spad{
      margin-bottom: 16px;
    }
  }
  .copyright{
    font-size: 16px;
    color: white;
    justify-content: space-between;
    @include spad{
      flex-direction: column;
      // align-items: flex-start;
      // color: black;
      li{
        margin-top: 8px;
      }
    }
  
  }
  
}
