@import "./rwd";
@import "./utilities";


.location-title {
  padding-left: 12px;
  padding-bottom: 33px;
  padding-top: 96px;
  h1 {
    padding-left: 16px;
    border-left: 8px solid #9F1213 ;
    @include spad {
        font-size: 24px;
  }
  }
}

.search-bar{
  padding-left: 12px;
  padding-bottom: 46px;
  @include spad {
     padding-bottom: 24px;
  }
  label {
    font-size: 24px;
    margin-right: 16px;
    vertical-align: middle;
    @include spad {
    font-size: 16px;
  }
  }
  select {
    // display: inline-block;
    width: 304px;
    height: 38px;
    @include spad {
        width: 276px;
  }
  }
}

.location {
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  .location-card-container{
    padding-left: 12px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    gap: 48px 24px;
    @include pad {
        gap: 24px 24px;
        padding-left: 34px;
        padding-right: 34px;
    }
  }
  .location-card-container .location-card {
    // width: 416px;
    border: 1px solid #00000020;
     img{
      width: 414px;
      height: 224px;
      @include pad {
        width: 335px;
  }
    }
     h2{
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid #00000020;
      padding-left: 24px;
    }
     .location-data{
      padding-left: 24px;
      // padding-right: 12px;
    // 這裡會把容器拉寬
      font-size: 20px;
      margin-bottom: 16px;
      span{
        vertical-align: middle;
        margin-right: 8px;
      }
      .phone {
        margin-bottom: 8px;
        // &::before{
        //    font-family: "Font Awesome 5 Free"; font-weight: 900; 
        //    content: "\f098";
        //    margin-right: 10px;
        // }
      }
      .time {
        margin-bottom: 8px;
        // &::before{
        //    font-family: "Font Awesome 5 Free"; font-weight: 900; 
        //    content: "\f017";
        //    margin-right: 10px;
        // }
      }
      .address {
        // padding-right: 80px;
        width: 336px;
        @include pad {
        width: 256px;
  }
        // 這裡也會把容器拉寬
        // &::before{
        //    font-family: "Font Awesome 5 Free"; font-weight: 900; 
        //    content: "\f3c5";
        //    margin-right: 10px;
        // }
      }
    }
     .location-link{
      text-align: center;
      font-size: 27px;
      padding-top: 16px;
      padding-bottom: 16px;
      color: white;
      background: #000;
      @include spad {
        font-size: 19px;;
  }
    }
  }
}