@import "./rwd";
@import "./utilities";


.optical-menu {
  ul{
    li{
      width: 33.3%;
      text-align: center;
      padding-top: 24px;
      padding-bottom: 24px;
      @include pad{
        font-size: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
      }
      @include spad{
        font-size: 16px;
      }
    }
    .optical-menu-list{
      border-bottom: 8px solid #AA0601;
    }

  }
}
.optical-bg{
  display: flex;
  .optical-bg-item{
    width: 960px;
    height: calc(0.3*100vw*0.5);
    // 讓高跟著寬度變化
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    @include pad {
      width: 384px;
      height: 296px;
    }
    @include spad {
      // width: 188px;
      height: 136px;
      // rwd改變高度即可
    }
  }
  .optical-bg-item-1{
    background-image: url(../images/product-header-1.png);
    @include pad {
      background-image: url(../images/product-header-sm-1.png);
    }
  }
  .optical-bg-item-2{
    background-image: url(../images/product-header-2.png);
    @include pad {
      background-image: url(../images/product-header-sm-2.png);
    }
  }
}
.Celluloid-Combi {
  h1 {
      @include spad {
        font-size: 24px;
      }
      span {
        @include spad {
        font-size: 24px;
      }
      }
    }
  .Combi-product{
    gap: 80px 24px;
    margin-bottom: 10px;
    @include pad {
      gap: 40px 24px;
      margin-bottom: 80px;
    }
    @include spad {
      gap: 24px;
      margin-bottom: 75px;
    }
    
    .Combi-product-card{
      // margin-bottom: 80px;

      ul .model-price{
        display: flex;
        justify-content: space-between;
      }
      ul .model-price .price{
        color: #AA0601;
        font-weight: 500;
      }
      ul .model-price .model{
        font-weight: 400;
      }
      ul img{
        width: 306px;  
        height: 168px;
        @include pad {
          width: 336px;
        }
        @include spad {
          width: 348px;
        }
      }
      ul .color-square {
        width: 24px;
        height: 24px;
        border-radius: 4px;
      }
      ul .square-1{        
        background: #5F3E2D;
      }
      ul .square-2{        
        background: #B75929;
      }

      
    }
  }
}

.pagination{
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  @include spad {
       margin-bottom: 64px;
     }
    ul{
      // display: inline-block;
      margin: 0 auto;
    }
    ul li{
     width: 42px;
     height: 48px;
     border: 1px solid #555555;
     font-size: 18px;
     line-height: 48px;
     color: #555555;
     @include spad {
       font-size: 16px;
       width: 40px;
       height: 45px;
     }
    }
    ul .last, ul .next{
      width: 81px;
      font-size: 19px;
      color: #555555;
      @include spad {
       font-size: 16px;
       width: 75px;
     }
    }
    ul .next{
      background: #F2F2F2;
    }
    ul .page-2{
      background: #000;
      color: white;
    }
  }
