@import "./rwd";
@import "./utilities";

.special-header {
  background: #650300;
 .container .special-menu-list{
   font-size: 20px;
   margin-right: 48px;
   color: white;
   line-height: 56px;
   @include spad {
     display: none;
   }
 }
}
.hashtag{
  @include spad {
    margin-bottom: 8px;
  }
  span{
    @include spad {
      font-size: 16px;
    }

  }
}

.special-title {
  h1 {
    @include spad {
      font-size: 24px;
    }
  }
  span {
    @include spad {
      font-size: 16px;
    }
  }
}

.special_column-left{
  width: 66.6%;
  @include pad {
    width: 75%;
  }
  @include spad {
    width: 100%;
    margin-bottom: 80px;
  }
  .special_content_list {
    @include pad {
      margin-bottom: 24px;
    }
    @include spad {
      margin-bottom: 16px;
    }
    img {
      width: 856px;
      height: 520px;
      @include pad {
        width: 516px;
        height: 320px;
        margin-bottom: 16px;
      }
      @include spad {
        width: 348px;
        height: 208px;
      }
      @include spad {
        margin-bottom: 8px;
      }
    }
     p {
       color: #555555;
     }
  }
  .share {
    color: #0A0A0A;
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #707070;
    margin-bottom: 24px;
    @include spad {
      display: none;
    }
  }

  .pagelink{
    @include spad {
      display: none;
    }
    .last-page{
      &::before{
        content: "";
        width: 24px;
        height: 24px;
        background-image: url(../images/arrow-left-solid.svg);
        background-size: contain;
        display: inline-block;
        background-repeat: no-repeat;
     vertical-align: middle;
     margin-right: 12px;
      }
    }
    .next-page{
      &::after{
        content: "";
        width: 24px;
        height: 24px;
        background-image: url(../images/arrow-right-solid.svg);
        background-size: contain;
        display: inline-block;
        background-repeat: no-repeat;
        vertical-align: middle;
        margin-left: 12px;
      }
    }
  }
}

.special_column-right{
  width: 33.33%;
  @include pad {
    width: 25%;
  }
  @include spad {
    display: none;
  }
  .tag {
    span {
      @include pad {
        margin-right: 16px;
        font-size: 16px;
      }
    }
  }
}