@import "./rwd";
@import "./utilities";


.location-title {
  padding-left: 12px;
  padding-bottom: 33px;
  padding-top: 96px;
  h1 {
    padding-left: 16px;
    border-left: 8px solid #9F1213 ;
    @include spad {
        font-size: 24px;
  }
  }
}

.search-bar{
  padding-left: 12px;
  padding-bottom: 46px;
  @include spad {
     padding-bottom: 24px;
  }
  label {
    font-size: 24px;
    margin-right: 16px;
    vertical-align: middle;
    @include spad {
    font-size: 16px;
  }
  }
  select {
    // display: inline-block;
    width: 304px;
    height: 38px;
    @include spad {
        width: 276px;
  }
  }
}

.store {
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 12px;

  .store-card-container{
    // max-width: 526px;
    margin-right: 24px;
    font-weight: 400;
    @include pad {
     max-width: 696px;
     padding-bottom: 24px;
     display: flex;
    }
    @include spad{
      width: 348px;
      margin-right: 0;
      flex-wrap: wrap;
    }
    .store-img {
     width: 526px;
     // height: auto;
     @include pad {
       width: 337px;
       margin-right: 24px;
       }
      @include spad{
         width: 348px;
       }
     }
  }

  .store-card-container .store-card {
    border: 1px solid #00000020;
    @include pad {
      // margin-bottom: 24px;
          //  margin-left: 24px;

    }
     .store-card-list-title{
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 24px;
      border-bottom: 1px solid #00000020;
    }
    .store-data{
        padding-left: 24px;
        font-size: 20px;
        margin-bottom: 16px;
        @include pad {
          width: 337px;
          }   
          @include spad{
            width: 346px;
          }
        span{
          vertical-align: middle;
          margin-right: 8px;
        }
        .phone {
          margin-bottom: 8px;
        }
        .time {
          margin-bottom: 8px;
        }
        .address {
          // width: 336px;
          @include pad {
          // width: 256px;
          }
        }
     }
  }

  .store-map{
    @include spad {
      width: 348px;
    }
    @include pad {
      width: 696px;
    }
  }
}